body {
    background: #ffffff;
    font-family: 'Kanit', sans-serif;
    color: #525252;
    font-size: .7em;
    font-weight: 200;
    letter-spacing: 1px;

}

html {
    padding: 20px;
    font-weight: 300;
}

#fondoPJ {
    width: 100% !important;
    height: 28px !important;;
    /*background-color: black;*/
    background-repeat: repeat-x;
    background-image: url("../assets/icon_canvas.png") !important;
}

main {
    /*padding: 60px;*/
}

section {
    /*background-color: #41485b;*/
    margin-bottom: 40px;
}

.container-title h3 {
    text-align: center;
    font-size: 25px;
}


h1 {
    text-transform: uppercase;
    padding: 8px;
    font-size: 3em;
    font-weight: 150;
    color: #575757;
}

h1 span {
    font-size: 12px;
}

h2,
h3 {
    font-size: 2em;
    margin-bottom: 29px;
    border-bottom: 5px solid rgb(86, 86, 86);
    padding-bottom: 15px;
    font-weight: 900 !important;
}

hr {
    margin-top: 0px;
    border-color: #770000;
    margin-bottom: 5px;
}


/*.container-subreport {*/


/*    display: flex;*/


/*    width: 100%;*/


/*    !*justify-content: space-between;*!*/


/*}*/

figure {
    /*padding: 10px 10px 30px;*/
    border-bottom: 2px solid darkred;
    /*background: red;*/
}

figure p {
    margin-bottom: 7px;
    font-size: .8em;
}

figure p,
h3 {
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
}

canvas {
    width: 100%;
}


/* grid */

[class*='cols'] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cols-3 > * {
    width: 33.33%;
    margin: 10px
}

.cols-2 > * {
    width: 50%;
    margin: 10px
}

.cols-1 > * {
    width: 100%;
    margin: 10px
}

#chart6 {
    max-height: 300px;
}

section {
    opacity: 0;
    transition: opacity .3s;
}

.running section {
    opacity: 1
}

.loading {
    position: absolute;
    border: none;
}

.running .loading {
    display: none;
}

.leftPanel {
    /*background-color: #cbcbcb;*/
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 87%, rgba(195, 195, 195, 1) 100%);
    width: 17%;
    height: 100vh;
    position: absolute;
    left: 2%;
    border-right: 4px solid #919191;
}

.mainPanel {
    max-width: 70%;
    min-width: 21cm;
    width: 75%;
    position: absolute;
    left: 21%;
}

.listaReportes {
    /*margin: 8px;*/
    /*padding: 8px;*/
    /*background-color: #ffffff;*/
}

.contentBackground {
    /*margin-left: 10px;*/
    width: 88% !important;
    height: 98.75% !important;
    /*background: #ffffff !important;*/
}

.contentBackground h5 {
    border-bottom: 4px solid #6e0000;
}

.listaReportes .item-report {
    height: 100%;
    color: black;
    width: 100%;
    padding: 5px 10px 3px 8px;
    font-size: 14px;
    text-align: center !important;

}

.item-report p {
    margin: 0 !important;;
}

.listaReportes .item-report:hover {
    border-right: 4px solid #6e0000;
    cursor: pointer;
    vertical-align: center;
    text-align: center !important;
    background-color: #919191;
    color: #ffffff;
    /*border-radius: 4px;*/
}

.activate {
    border-right: 4px solid #6e0000;
    border-right: 4px solid #6e0000;
    cursor: pointer;
    vertical-align: center;
    text-align: center !important;
    background-color: #d5d5d5;
    color: #ffffff;
    /*border-radius: 4px;*/

}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100% !important;
    /*text-align: center;*/
    border-collapse: collapse;
}

table.greyGridTable td,
table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 1px 2px;
}

table.greyGridTable tbody td {
    font-size: 10px;
}

table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
}

table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}

table.greyGridTable thead th {
    font-size: 10px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot td {
    font-size: 9px;
}

label {
    font-size: 12px;
}

select {
    font-size: 12px;
    height: 30px;
    width: 200px;
}

.tableTotales {
    border-top: 3px solid black;
    background-color: #fcf5c6 !important;
    color: black !important;
}

.footer-custom {
    font-size: 15px;
    text-align: center;
    margin-top: 140vh;
    height: 100px !important;
    color: #ffffff !important;
    width: 100% !important;
    background-color: #770000 !important;

}

.ft-r {
    /*top: 0;*/
    /*position: absolute;*/
    /*right: 0 !important;*/
}

.txtInformacionFiltro {
    background-color: #bdbdbd;
    margin-top: 8px;
    border-radius: 5px;
    font-size: 14px;
    color: darkred;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .mainPanel {
        margin-left: -14% !important;
        width: 21cm !important;
    }

    #Contentchart7, #Contentchart72, #Contentchart73 {
        /*width: 60% !important;*/
        /*max-width: 60% !important;*/
        background-color: blue !important;
    }

    #chart7, #chart72, #chart73 {
        width: 20cm !important;
        height: 7cm !important;
        /*max-width: 80% !important;*/
    }

    #selectable01, #selectable02, #selectableFiltroSala, #btnBuscar, #label_selectable02, #label_selectable01 {
        display: none !important;
    }

    #Content_fInicio, #Content_fFin {
        width: 30% !important;
    }

    #fInicio, #fFin {
        width: 100% !important;
    }

}
